body {
    font-family: "Segoe UI", Arial;
    background: #f4f6f9;
    margin: 0;
}

.navbar {
    background: #1f2937;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.center {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

img {
    width: 60px;
}